<h1>{{nombre | uppercase}}</h1>
<h1>{{valor | number}}</h1>
<h1>{{obj | json}}</h1>

<button pButton
    (click)="mostrarNombre()"
    icon="pi pi-bell"
    iconPos="right"
    class="p-button-help"
    label="Cambiar Nombre"
    ></button>

<p-card [header]="nombre | titlecase"
    subheader="Esto es un subheader"
>
    <h3>Simple Card</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam magnam porro commodi, illo molestiae voluptate unde, reiciendis maxime illum animi expedita laudantium debitis ducimus, fugiat veniam ut? Ad, vitae nam!</p>

</p-card>
    